#searchBar {
  margin: 15px 10px;
}

.tableWrapper {
  max-height: 400px;
  overflow: auto;
}

#map {
  height: 400px;
  width: 100%;
 }
 #map_div {
  height: 480px;
}

.animate-show-hide.ng-hide {
  transform: translate3d(-100%, 0, 0);
}


.animate-show-hide.ng-hide-add {
  opacity: 1;
  transition: all linear 0.5s;
}

.logo-uf{
  font-family: Gentona;
  font-size: 32px;
  color: white;
}
.navbar{
  background-color: rgb(1, 74, 131);
}

.logo-line{
  font-size: 32px;
  color: rgb(221, 102, 30);
}

.logo{
  padding-left: 10px;
}
